:root {
  --primary-color: #0099ff;
  --primary-color-hover: #0099ffcc;
  --primary-color-active: #007fff;
  --primary-color-focus: #0099ff44;
  --primary-color-bg: #0099ff11;
  --primary-color-bg-hover: #0099ff22;
  --primary-color-bg-active: #0099ff11;

  --secondary-color: #0099ff;
  --secondary-color-hover: #0099ff66;
  --secondary-color-active: #009fff88;
  --secondary-color-bg: #0099ff11;
  --secondary-color-bg-hover: #0099ff15;
  --secondary-color-bg-active: #0099ff22;

  //thumb
  --thumb-color: #009fff;
  --thumb-color-hover: #0099ff22;
  --thumb-color-active: #0099ff44; 

  //nav
  --nav-height: 64px;
}