.color_notification {
  gap: 4px;
  display: flex;
  flex-direction: row;
  animation: a_color_notification 8s ease 0s 1 forwards;
  animation-timing-function: cubic-bezier(0,1, 0, 1);
  
  .label {
    color: #0099ff;
    font-weight: 500;
    font-size: 16px;
  }

  .color {
    color: #000;
    font-weight: 600;
    font-size: 16px;
  }
}

@keyframes a_color_notification {
  0% {  
    opacity: 0;
    transform: translateY(200px) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateY(100px) scale(1);
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(0px) scale(1);
  }
}