.color_panel {
  --animation-duration: 400ms;
  height: 110px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  .dialogs {
    width: 100%;
    bottom: 110%;
    display: flex;
    position: absolute;
    justify-content: flex-end;
  }
  
  .row {
    gap: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    .color_range_wrapper,
    .actions_wrapper {
      gap: 12px;
      height: 100%;
      display: flex;
      padding: 12px 12px;
      border-radius: 5px;
      flex-direction: row;
      box-sizing: border-box;
      background-color: #fff;
      
      .color_range {
        width: 700px;
        height: 100%;
      }
  
      .actions {
        gap: 6px;
        width: 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}